@use '../../global.scss' as *;

// Toggle settings wrapper
.choice-toggle-wrapper {
    display: flex;
    align-items: normal;

    .toggle-option {
        list-style-type: none;
        margin: 0;
        position: relative;

        input {
            display: none; // for radio button hide
        }

        label {
            list-style-type: none;
            margin: 0;
            padding: 0.5rem 0.75rem;
            border: $border-light-medium;
            font-weight: 500;
            line-height: 1rem;
            font-size: 0.9rem;
            color: #9fa1a4;
            cursor: pointer;
            border-right: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
            height: 100%;
            box-sizing: border-box;

            img {
                height: 3rem;
            }

            i {
                font-size: 1.813rem;
            }

            span {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.625rem;
            }

            .des {
                font-size: 0.813rem;
            }
        }

        &:last-child label {
            border-top-right-radius: 0.313rem;
            border-bottom-right-radius: 0.313rem;
            border-right: $border-light-medium;
        }

        &:first-child label {
            border-top-left-radius: 0.313rem;
            border-bottom-left-radius: 0.313rem;
        }

        input:checked+label {
            background: $theme-background-color;
            border: $border-theme-medium;

            span {
                color: $theme-color;
            }
        }

        .admin-pro-tag {
            right: 0;
            top: -0.063rem;
        }
    }

    div:has(input:checked)+div label {
        border-left: none;
    }

    &.custom {
        gap: 0.5rem;
        width: 100%;
        flex-wrap: wrap;

        span {
            font-size: 1.125rem;
            flex-direction: row !important;
            color: $text-color;
        }


        label {
            border: $border-light-medium;
            border-radius: $border-radius-small;
            align-items: start;
            gap: 0.313rem;
        }

        input[type="radio"]:checked::before {
            color: $theme-color;
        }

        .choice-toggle-custom-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;

            .choice-toggle-notice {
                .title {
                    font-size: 1rem;
                    color: $sub-text-color;
                }

                ul {
                    margin: 0 2.5rem;
                    list-style: number;
                    font-size: 0.813rem;
                    padding-top: 0.25rem;
                    color: $sub-text-color;
                }
            }
        }

        div:has(input:checked)+div label {
            border: $border-light-medium;
        }
    }
}

.choice-toggle-container {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    // for full width 
    &.full-width {
        width: 100%;

        .toggle-option,
        .choice-toggle-wrapper {
            width: 100%;
        }
    }
}

.choice-toggle-container:has(.custom) {
    width: 100%;
}

@media screen and (width <=600px) {
    .choice-toggle-wrapper.custom {
        .toggle-option {
            width: 100% !important;
        }
    }

    .choice-toggle-wrapper {
        flex-wrap: wrap;
    }
}