@use '../../global.scss' as *;

.module-container {
    .module-option-row {
        display: flex;
        flex-wrap: wrap;

        .module-list-item {
            box-sizing: border-box;
            border: $border-light-small;
            border-radius: $border-radius-small;
            background: #fff;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .module-header {
                display: flex;
                justify-content: space-between;

                img {
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: $border-light-small;
                    object-fit: cover;
                }

                .pro-tag {
                    i {
                        color: $accent-color;
                        font-size: 1.313rem;
                    }
                }
            }

            .module-details {
                padding-top: 1rem;

                .tag-wrapper {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 0.313rem;
                    margin-bottom: 0.625rem;

                    .admin-badge {
                        padding: 0.313rem;
                        font-size: 0.75rem;
                        display: inline-block;
                    }
                }
            }

            .footer-wrapper {
                .requires {
                    display: flex;
                    gap: 0.125rem;
                    flex-wrap: wrap;
                    padding-top: 1.625rem;
                    min-height: 2.313rem;
                    align-items: end;

                    .requires-title {
                        font-size: 0.9rem;
                        color: $theme-color;
                        font-weight: 600;
                    }
                }

                .module-footer {
                    display: flex;
                    padding-top: 0.75rem;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 0.5rem;
                    border-top: $border-light-small;

                    .price {
                        font-size: 1.063rem;
                        font-weight: 500;
                    }

                    .buttons {
                        display: flex;
                        gap: 0.5rem;

                        a {
                            display: flex;
                            align-items: center;
                        }

                        i {
                            font-size: 1.125rem;
                            color: $theme-color;
                        }
                    }
                }
            }

            fieldset {
                border: $border-light-small;
                margin-top: .313rem;
                padding: 0 .5rem .5rem;

                legend {
                    border-radius: $border-radius-small;
                    color: $theme-color;
                    background: $theme-background-color;
                    margin-left: .25rem;
                    padding: .25rem .375rem;
                    text-align: left;
                    line-height: 1;

                    &:has(i){
                        background: #e350472e;
                        color: #e35047;
                    }
                }
            }
        }

        .module-list-item.highlight {
            label {
                border: dashed 0.063rem $theme-color;
            }
        }
    }

    .filter-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: 0.5rem;

        .module-search {
            display: flex;
            justify-content: end;
            margin-bottom: 2rem;
            gap: 0.5rem;
            width: 35rem;

            .search-field {
                margin: 0;

                i {
                    cursor: pointer;
                }
            }
        }
    }

    &[data-variant='default'] {
        .module-option-row {
            gap: 1rem;
            margin-top: 1rem;

            .module-list-item {
                flex: 0 0 19rem;

                .icon {
                    padding: 0.5rem;
                    width: 2.5rem;
                    height: 2.5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #522c8112;
                    border-radius: 0.4rem;

                    i {
                        font-size: 1.5rem;
                        color: $theme-color;
                    }
                }

                .meta-name {
                    font-size: 1.25rem;
                    line-height: 1;
                    color: #000;
                    margin-bottom: 0.625rem;
                }
            }
        }
    }

    &[data-variant='mini-module'] {
        .module-list-item {
            width: 25%;

            .icon {
                i {
                    font-size: 1.313rem;
                    color: $theme-color;
                }
            }

            .meta-name {
                font-size: .9rem;
                color: #000;
                margin: 0;
            }
        }
    }
}

@media screen and (width <=600px) {
    .module-container {
        &[data-variant='mini-module'] {
            .module-list-item{
                width: 50%;
            }
        }
    }
}